.text-center,.text-left{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    border-top: 5px solid #800080;
    border-bottom: 5px solid #800080;
    color: #800080;
}
 .horizontal-center{
    border: 5px solid purple;
    padding: 10px;
    margin: 30px 80px;
} 
body{
    border: 3px solid black;
   background-color: #fce9fc;
   margin: 30px 250px;
   height: fit-content;
}

label{
    font-weight: bold;
    font-size: 20px;
    color: black;
    
}
input{
    border: none;
    padding: 5px 10px;
    width: 200px
}
#login-id, #branch-manager{
    margin-left: 20px;
}
#branch-name  {
    margin-left: 50px;
}
#card-name{
    margin-left: 70px;
}
#branch-address, #card-min-limit, #offer-name{
    margin-left: 30px;
}
#card-max-limit, #offer-details{
    margin-left: 25px;
}
#login-pass{
    margin-left: 160px;
}

.footer{
    justify-content: center;
    display: flex;
   }

button{
    margin-right: 5px;
    background-color: purple;
    color: whitesmoke;
    font-weight: bold;
}

section{
    width: 250px;
    background-color: purple;
    flex: auto;
}

main{
    display: flex;
}

article{
    color: tomato;
    font-weight: bold;
    margin: 100px 150px 50px;
    
}

a, p{
    color: whitesmoke;
    text-decoration: none;
    padding-left: 10px;
    
}

li{
    padding: 10px;
}
a{
    text-transform: uppercase;
    background-color: purple;
}

#welcome div::before {
    content: "*";
    color: red;
}
#welcome div::after {
    content: "*";
    color: red;
}

ul{
    list-style-type: none;
}


.offer{
    align-items: stretch;
    background-color: #fce9fc;
    flex: 70%;
    
}

.offer h1{
    float: left;
    margin-left: 50px;
}

.offer article{
    margin-left: 10px;
}

#branch_form .horizontal-center{
    margin: 10px 10px 30px 40px;
}

.barnch_footer{
   
    margin-left: 40px;
}

.text-left{
    margin-left: 20px;
    
}

.error{
    float: right;
    color: red;
}